<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.go.mapper.CommentMapper">

    <select id="getOneComment" resultType="com.example.go.entity.Comment">
        select c.*, u.username commenterName,u.avatar commenterImg
        from comment c, user u
        where c.category_id = #{cid}
        and c.parent_id = -1
        and c.commenter_id = u.id
        order by time desc
    </select>

    <select id="getChildren" resultType="com.example.go.entity.Comment">
        select distinct c.*, a.*,b.*
        from comment c,
            (
                select
                    u.username commenterName,
                    u.avatar commenterImg
                from
                    comment c,
                    user u
                where
                    root_id = #{cId}
                  and c.commenter_id = u.id
            ) a,
            (
                select u.username commentedName
                from comment c, user u
                where root_id = #{cId}
                  and c.commented_id = u.id
            ) b
        where
            root_id = #{cid}
        order by
            parent_id,
            time
    </select>

    <select id="findRootId" resultType="java.lang.Integer">
        select parent_id
        from comment
        where id = #{id}
    </select>

    <select id="findCommentedId" resultType="java.lang.Integer">
        select commenter_id
        from comment
        where id = #{id}
    </select>

    <select id="findCid" resultType="java.lang.Integer">
        select category_id
        from comment
        where id = #{id}
    </select>

    <delete id="deleteComment">
        delete from comment
        where id = #{id}
        or parent_id = #{id}
        or root_id = #{id}
    </delete>

    <update id="changeHotelComment">
        update hotel set comment_num =
             (
                 select count(*)
                 from comment
                 where category_id = #{cid}
             )
        where id = #{id}
    </update>

    <update id="changeAttractionComment">
        update attraction set comment_num =
             (
                 select count(*)
                 from comment
                 where category_id = #{cid}
             )
        where id = #{id}
    </update>

</mapper>